Source: konoha
Section: interpreters
Priority: optional
Maintainer: Tadaki SAKAI <stadaki.dev@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.6), llvm-3.0-dev, libcurl4-openssl-dev, libgmp-dev, libevent-dev, libmecab-dev, mecab-naist-jdic, mpi-default-dev
Standards-Version: 3.9.2
Homepage: http://konoha.sourceforge.jp/

Package: konoha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Konoha is a scripting language
 Konoha is a scripting language, characterized by:
 * simple
 * static
 * syntax extensible
 The language is based on C-like grammar, not new for everybody.
